$color_1: #4334C8;
$color_2: #222;
$color_3: #FFFFFF;
$color_4: blue;
$color_5: #fff;
$font-family_1: 'Satoshi';
$font-family_2: 'Open Sans',
sans-serif;
$background-color_1: #EFEFEF;
$background-color_2: #FFFFFF;
$background-color_3: #4334C8;
$background-color_4: #F7F7F7;
$border-color_1: #4334C8;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $background-color_1;
}

.container {
    width: auto;
    height: auto;
    margin: 5% auto;
    display: table;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

#Catalogue {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: $color_1;
    width: auto;
    height: auto;
    padding-left: 60px;
}

.filter {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 16px;
    justify-content: center;
}

#search {
    width: 384px;
    height: 48px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px, 16px, 10px, 16px;
    &:focus {
        outline: none;
    }
}

select {
    &::-ms-expand {
        display: none;
        display: none;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #FFFFFF;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: $color_2;
    cursor: pointer;
    font-size: 1em;
    font-family: $font-family_2;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    border: 2px solid #4334C8;
    border-radius: 8px;
    &::after {
        content: '▼';
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 6px;
        padding: 0 1em;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
        color: $color_1;
    }
    &:hover {
        &::after {
            color: $color_1;
        }
    }
    &:active {
        background-color: $background-color_2;
        border-color: $border-color_1;
    }
}

option {
    font-family: $font-family_2;
    color: $color_1;
    padding: 10px, 15px, 10px, 15px;
    &:hover {
        background-color: $background-color_3;
        color: $color_3;
    }
    &:active {
        background-color: $background-color_3;
        color: $color_3;
    }
}

#add_favo {
    position: absolute;
    right: 0;
    bottom: -60px;
    width: 165px;
    height: 38px;
    background: #4334C8;
    border: 2px solid #4334C8;
    border-radius: 10px;
    padding: 9px 20px;
    color: $color_3;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
}

#addToFavorisItem {
    border: 2px solid #4334C8;
    border-radius: 10px;
    padding: 9px 20px;
    width: 194px;
    cursor: pointer;
    background-color: $background-color_2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.addToFavorisItem {
    border: 2px solid #4334C8;
    border-radius: 10px;
    padding: 9px 20px;
    width: 194px;
    cursor: pointer;
    background-color: $background-color_2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

table {
    padding: 24px 30px;
    width: 90%;
    height: auto;
    background: #FFFFFF;
    border-radius: 9px;
    margin: auto;
    display: table;
}

.icon {
    font-size: 20px;
}

th {
    border: 2px solid #F7F7F7;
    text-align: center;
    width: 10%;
}

td {
    border: 2px solid #F7F7F7;
    text-align: center;
    width: 10%;
}

.banner {
    >img {
        width: 100%;
        height: 284px;
        border-radius: 15px;
    }
}

.showBtn {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: $color_4;
    text-align: center;
}

.Img-item {
    >img {
        width: 210px;
        height: 304px;
        position: absolute;
        left: 30px;
        top: 177px;
        z-index: 100;
        background-color: $background-color_4;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

.content {
    width: 79%;
    max-width: 89%;
    height: 282px;
    padding: 10px;
    position: absolute;
    left: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.itemTitre {
    width: 100%;
    height: 5rem;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    display: flex;
    flex-direction: row;
    >h1 {
        font-family: $font-family_1;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
    }
}

.btnFavorisItem {
    width: auto;
    height: auto;
}

.description {
    width: 100%;
    height: auto;
    padding: 2px;
    word-break: break-all;
}

#itembtnretour {
    position: absolute;
    padding: 9px 10px;
    top: 50px;
    left: -90px;
    background: #4334C8;
    border-radius: 10px;
    color: $color_5;
    cursor: pointer;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
}

#itembtnretourFavoris {
    padding: 9px 10px;
    background: #4334C8;
    border-radius: 10px;
    color: $color_5;
    cursor: pointer;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
}

.favorited {
    border-radius: 10px;
    padding: 9px 20px;
    width: 194px;
    cursor: pointer;
    background-color: $background-color_3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Favoris {
    width: 60rem;
    height: auto;
    padding: 9px 20px;
    margin: 3% auto;
    position: relative;
}

.FavorisHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.FavorisBody {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 87px;
    padding: 9px 20px;
    margin-top: 3%;
}

.FavorisCard {
    >img {
        border: 1px solid black;
        width: 228.23px;
        height: 375.15px;
        border-radius: 20px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .container {
        width: 90%;
        margin: 2% auto;
    }
    #search {
        width: 70%;
    }
    .select {
        width: 15em;
    }
    .seeFavoris {
        left: auto;
        right: 5%;
        top: auto;
        bottom: 2%;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    .container {
        width: 80%;
    }
    #search {
        width: 30%;
    }
    .select {
        width: 17em;
    }
    .seeFavoris {
        left: auto;
        right: 2%;
        top: auto;
        bottom: 2%;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 70%;
        height: auto;
    }
    .filter {
        width: 75%;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 16px;
    }
}